configuration {
  matching: "regex";
  case-sensitive: false;
  fixed-height: false;
  fixed-num-lines: false;
  dynamic:  true;
  scrollbar: false;
  opacity: 0.1;
}
//listview {
//  fixed-height: false;
//  fixed-num-lines: false;
//  dynamic:  true;
//  scrollbar: false;
//} 
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/juels/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/juels/.local/share/rofi/themes/rounded-nord-dark.rasi"
